/* ------------------------------------------
  COLOUR VARIABLES
--------------------------------------------- */
$black: #000000;
$white: #FFFFFF;
$tradewind: #66b3ba;
$trandewind-light: #72c5cd;
$tradewind-dark: #5fa8af;
$breaker-bay: #589DA4;
$breaker-bay-dark: #25686f;
$breaker-bay-dark-placeholder: rgba(37, 104, 111, 0.8);
$pink: #f15f5b;
$header-light-blue: #68C3D2;
$red: #f00;
$soft-pink: #ffc0cb;